<p><%= link_to "Top", bookings_path %>　/　<%= link_to "Mypage", users_path %>　/　<%= link_to "Booking_datail", @booking %>　/　edit</p>
<div class = "new">

<h1>Editing booking</h1>

<%= render "form", booking: @booking %>

<br>


</div>




