<div id="<%= dom_id user %>">
<br><br>
  <div>
  <p>
    <strong>Loginname:</strong>
    <%= user.loginname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  
  
  
  </div>

</div>
