<p><%= link_to "Top", bookings_path %>　/　<%= link_to "Mypage", users_path %>　/　<%= link_to "User_datail", @user %>　/　edit</p>
<div class = "new">
<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>


</div>
