<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reserve date:</strong>
    <%= reservation.reserve_date %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= reservation.room_type %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= reservation.plan %>
  </p>

</div>
